<!doctype html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<title>SATO7 - Comunicação Estratégica</title>

  <%= stylesheet_link_tag "style" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "parallax" %>
  <%= javascript_include_tag "modernizr" %>
  <%= javascript_include_tag "html5" %>
  <%= javascript_include_tag "hover" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<section>
    	<div id='box1'>
        	<h1>você não<br>sabe do que<br>precisa.</h1><br>
            <img src="images/nos-sabemos.png" border="0">
            <p>Você sabe do que precisa para<br>melhorar os resultados da sua<br>empresa e agregar valor à sua marca,<br>produtos e serviços?</p>
        	<input type="button" onClick="$('html,body').animate({scrollTop: $('#box2').offset().top}, 500);" value="CLIQUE AQUI E DESCUBRA" >
        </div>
        <div id='box2'>
        	<div class="tit_box">
            	<img src='images/num_1.png' border="0">
                <h1>O que é mais<br>importante para<br>seus consumidores?</h1>
            </div>
            <div class="body_box">
            	<div class="item_1">
                <div></div><span id='letra_um' resposta="A">A</span><h2 id='texto_um' resposta="A">Confiança na empresa.</h2>
                </div>
                <div class="item_2">
                <div></div><span id='letra_dois' resposta="B">B</span><h2 id='texto_dois' resposta="B">Valor agregado de produtos e serviços.</h2>
                </div>
                <div class="item_3">
                <div></div><span id='letra_tres' resposta="C">C</span><h2 id='texto_tres' resposta="C">Politicas de sustentabilidade e responsabilidade social.</h2>
                </div>
                <div class="item_4">
                <div></div><span id='letra_quatro' resposta="D">D</span><h2 id='texto_quatro' resposta="D">Inovação e qualidade.</h2>
                </div>
            </div>
        	<input type="button" onClick="$('html,body').animate({scrollTop: $('#box3').offset().top}, 500);" value="CONTINUAR" >
        </div>
        <div id='box3'>
        	<div class="tit_box">
            	<img src='images/num_2.png' border="0">
                <h1>O que garante mais<br>valor à sua<br>empresa?</h1>
            </div>
            <div class="body_box">
            	<div class="item_1">
                <div></div><span id='letraa_um' resposta="A">A</span><h2 id='textoo_um' resposta="A">Produtos e serviços únicos.</h2>
                </div>
                <div class="item_2">
                <div></div><span id='letraa_dois' resposta="B">B</span><h2 id='textoo_dois' resposta="B">Uma marca tradicional e de grande presença.</h2>
                </div>
                <div class="item_3">
                <div></div><span id='letraa_tres' resposta="C">C</span><h2 id='textoo_tres' resposta="C">Reputação.</h2>
                </div>
                <div class="item_4">
                <div></div><span id='letraa_quatro' resposta="D">D</span><h2 id='textoo_quatro' resposta="D">Posição no mercado.</h2>
                </div>
            </div>
        	<input type="button" onClick="$('html,body').animate({scrollTop: $('#box4').offset().top}, 500);" value="CONTINUAR" >
        </div>
        <div id='box4'>
        	<div class="tit_box">
            	<img src='images/num_3.png' border="0">
                <h1>Qual deve ser a<br>principal função do<br>marketing na sua<br>empresa?</h1>
            </div>
            <div class="body_box">
            	<div class="item_1">
                <div></div><span id='letraaa_um' resposta="A">A</span><h2 id='textooo_um' resposta="A">Divulgar produtos e serviços.</h2>
                </div>
                <div class="item_2">
                <div></div><span id='letraaa_dois' resposta="B">B</span><h2 id='textooo_dois' resposta="B">Elaborar a aplicar planos de participação e expansão de mercado.</h2>
                </div>
                <div class="item_3">
                <div></div><span id='letraaa_tres' resposta="C">C</span><h2 id='textooo_tres' resposta="C">Gerar impacto da sua marca junto aos consumidores.</h2>
                </div>
                <div class="item_4">
                <div></div><span id='letraaa_quatro' resposta="D">D</span><h2 id='textooo_quatro' resposta="D">Criar e aplicar campanhas de comunicação.</h2>
                </div>
            </div>
        	<input type="button" onClick="$('html,body').animate({scrollTop: $('#box5').offset().top}, 500);" value="CONTINUAR" >
        </div>
        <div id='box5'>
        	<div class="tit_box">
            	<img src='images/num_4.png' border="0">
                <h1>Qual é a forma mais<br>efetiva de alcançar<br>seus públicos de<br>interesse?</h1>
            </div>
            <div class="body_box">
            	<div class="item_1">
                <div></div><span id='letrab_um' resposta="A">A</span><h2 id='textob_um' resposta="A">Publicidade.</h2>
                </div>
                <div class="item_2">
                <div></div><span id='letrab_dois' resposta="B">B</span><h2 id='textob_dois' resposta="B">Mídias sociais.</h2>
                </div>
                <div class="item_3">
                <div></div><span id='letrab_tres' resposta="C">C</span><h2 id='textob_tres' resposta="C">Assessoria de Imprensa.</h2>
                </div>
                <div class="item_4">
                <div></div><span id='letrab_quatro' resposta="D">D</span><h2 id='textob_quatro' resposta="D">Relacionamento.</h2>
                </div>
            </div>
        	<input type="button" onClick="$('html,body').animate({scrollTop: $('#box6').offset().top}, 500);" value="CONTINUAR" >
        </div>
        <div id='box6'>
        	<div class="tit_box">
            	<img src='images/num_5.png' border="0">
                <h1>Qual é o principal fator<br>de sucesso na internet?</h1><br>
                <h2>(Mídias sociais, sites e outros canais).</h2>
            </div>
            <div class="body_box">
            	<div class="item_1">
                <div></div><span id='letra_1' resposta="A">A</span><h2 id='texto_1' resposta="A">Design e conteúdo.</h2>
                </div>
                <div class="item_2">
                <div></div><span id='letra_2' resposta="B">B</span><h2 id='texto_2' resposta="B">Tecnologia aplicada.</h2>
                </div>
                <div class="item_3">
                <div></div><span id='letra_3' resposta="C">C</span><h2 id='texto_3' resposta="C">Experiência de usuário e usabilidade.</h2>
                </div>
                <div class="item_4">
                <div></div><span id='letra_4' resposta="D">D</span><h2 id='texto_4' resposta="D">Publicidade em portais e sites de interesse do consumidor.</h2>
                </div>
            </div>
        	<input type="button" onClick="$('html,body').animate({scrollTop: $('#box7').offset().top}, 500);" value="CONTINUAR" >
        </div>
        <div id='box7'>
        	<div class="tit_box">
            	<img src='images/num_6.png' border="0">
                <h1>O que pode ser<br>considerado como<br>um bom design?</h1><br>
                <h2 style="margin-top:-30px;">(produto, site, impressos e outras peças).</h2>
            </div>
            <div class="body_box">
            	<div class="item_1">
                <div></div><span id='letra_umm' resposta="A">A</span><h2 id='texto_umm' resposta="A">Uma arte bonita.</h2>
                </div>
                <div class="item_2">
                <div></div><span id='letra_doiss' resposta="B">B</span><h2 id='texto_doiss' resposta="B">Um projeto visual atrativo e funcional.</h2>
                </div>
                <div class="item_3">
                <div></div><span id='letra_tress' resposta="C">C</span><h2 id='texto_tress' resposta="C">Algo que seja diferente e gere impacto no mercado e junto aos consumidores.</h2>
                </div>
                <div class="item_4">
                <div></div><span id='letra_quatroo' resposta="D">D</span><h2 id='texto_quatroo' resposta="D">Uma composição visual inovadora.</h2>
                </div>
            </div>
        	<input type="button" onClick="$('html,body').animate({scrollTop: $('#box8').offset().top}, 500);" value="CONTINUAR" >
        </div>
        <div id='box8'>
        	<div class="tit_box">
            	<img src='images/num_7.png' border="0">
                <h1>Os resultados de<br>campanhas e ações de<br>comunicação são<br>mensuráveis?</h1>
            </div>
            <div class="body_box">
            	<div class="item_1">
                <div></div><span id='letra_ummm' resposta="A">A</span><h2 id='texto_ummm' resposta="A">Não.</h2>
                </div>
                <div class="item_2">
                <div></div><span id='letra_doisss' resposta="B">B</span><h2 id='texto_doisss' resposta="B">Sim, parcialmente.</h2>
                </div>
                <div class="item_3">
                <div></div><span id='letra_tresss' resposta="C">C</span><h2 id='texto_tresss' resposta="C">Sim, completamente.</h2>
                </div>
                <div class="item_4">
                <div></div><span id='letra_quatrooo' resposta="D">D</span><h2 id='texto_quatrooo' resposta="D">Talvez.</h2>
                </div>
            </div>
        	<input type="button" onClick="$('html,body').animate({scrollTop: $('#box9').offset().top}, 500); Calcula_Resultado();" value="FINALIZAR" >
        </div>
        <div id='box9'>
			<div id='corpo-resultado'>
             <h3>é, parece que você precisa mesmo<br>da nossa ajuda...</h3>
             <div id='box-resultado'>
             	<ul class="nums-resultado">
                	<li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                </ul>
                <ul class="icons-resultado">
                </ul>
             </div>
             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In dictum suscipit ante molestie luctus. Vestibulum mi tellus, posuere a hendrerit quis, dignissim nec purus. Quisque vel elit eu nunc convallis mollis eget posuere velit. Suspendisse lobortis, sapien eget tempus viverra, augue augue convallis justo, nec porttitor enim ipsum at nisi.</p>
             <img src="images/bt-video.png">
            </div>
        </div>
        <div id='box10'>
			<div id='info-final'>
            	<h1>Lorem Ipsum<br>DOlor sit<br>amet</h1>
                <img src="images/logo-sato7.png">
                <p>Esses são apenas alguns elementos da comunicação estratégica. Existem muitos outros que demandam igual atenção e conhecimento especializado. Não importa qual o porte do seu negócio ou projeto, nós podemos ajudá-lo a chegar ainda mais longe.<br><br>
Somos uma agência de comunicação full service com foco total em resultados e soluções para nossos clientes e parceiros, orientando e alinhando seu posicionamento e reputação aos seus objetivos e expectativas. Nossa equipe é multidisciplinar e trabalha de forma integrada para entregar resultados positivos e concretos a nossos assessorados.<br><br>
Temos um núcleo independente e exclusivamente dedicado à internet, especializado em tecnologia, experiência de usuário e estratégias para a rede.</p>
                <h2>www.sato7.com.br</h2>
            </div>
        </div>
    </section>
</body>
</html>
